.contact-form{
	float:left;
	width: 640px;
}
.contact-info{
	float:right;
	width:485px;
}

.contact-list{
	font-size: 16px;
	margin:0;
	padding:0;
	color:#0D0D0D;
	line-height: 43px;
	li{
		margin:0;
		padding:0;
		list-style:none;
	}
	.icon{
		margin-right: 20px;
	}
}
