.footer{
	padding:30px 0;
	&:after{
		display:none;
	}
}
.footer-copy{
	width: 50%;
	float:left;

	font-size: 14px;
	font-weight: 600;
	color:#d9D9D9;
	text-transform: uppercase;

}
.footer-icon{
	width: 50%;
	float:right;
	text-align: right;
	a{
		padding-right: 10px;
				
	}
	.fa{
		
		@extend .contact-list;
		@include transition-duration;
		font-size: 14px;
		&:hover{
			color: $color
		}
	}
}